# (C) Copyright 2017 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

storm.local.dir: {{ STORM_LOCAL_DIR | default('/data') }}
storm.local.hostname: "{{ STORM_LOCAL_HOSTNAME }}"

storm.zookeeper.servers:
{% for server in STORM_ZOOKEEPER_SERVERS.split(',') %}
  {% set server = server.strip() %}
  - "{{ server }}"
{% endfor %}
storm.zookeeper.port: {{ STORM_ZOOKEEPER_PORT | default('2181') }}
storm.zookeeper.retry.interval: {{ STORM_ZOOKEEPER_RETRY_INTERVAL | default('5000') }}
storm.zookeeper.retry.times: {{ STORM_ZOOKEEPER_RETRY_TIMES | default('60') }}
storm.zookeeper.root: {{ STORM_ZOOKEEPER_ROOT | default ('/storm') }}
storm.zookeeper.session.timeout: {{ STORM_ZOOKEEPER_SESSION_TIMEOUT | default('3000') }}

supervisor.slots.ports:
{% for port in SUPERVISOR_SLOTS_PORTS.split(',') %}
  {% set port = port.strip() %}
  - {{ port }}
{% endfor %}
supervisor.childopts: "{{ SUPERVISOR_CHILDOPTS }}"

worker.childopts: "{{ WORKER_CHILDOPTS }}"

nimbus.seeds:
{% for seed in NIMBUS_SEEDS.split(',') %}
  {% set seed = seed.strip() %}
  - "{{ seed }}"
{% endfor %}
nimbus.thrift.port: {{ NIMBUS_THRIFT_PORT | default('6627') }}
nimbus.childopts: "{{ NIMBUS_CHILDOPTS }}"

ui.host: "{{ STORM_UI_HOST | default ('0.0.0.0') }}"
ui.port: {{ STORM_UI_PORT | default('8088') }}
ui.childopts: "{{ STORM_UI_CHILDOPTS | default('') }}"

transactional.zookeeper.servers:
{% for server in TRANSACTIONAL_ZOOKEEPER_SERVERS.split(',') %}
  {% set server = server.strip() %}
  - "{{ server }}"
{% endfor %}
transactional.zookeeper.port: {{ TRANSACTIONAL_ZOOKEEPER_PORT | default('2181') }}
transactional.zookeeper.root: {{ TRANSACTIONAL_ZOOKEEPER_ROOT | default('/storm-transactional') }}

topology.acker.executors: {{ TOPOLOGY_ACKER_EXECUTORS | default('1') }}
topology.debug: {{ TOPOLOGY_DEBUG | default('false') }}
topology.max.spout.pending: {{ TOPOLOGY_MAX_SPOUT_PENDING | default('500') }}
